<div id="overlay" (click)="modal.isActive = false"></div>
<form id="modal" [formGroup]="completesForm" (ngSubmit)="onSubmit()">

  <div id="modal-header">
    <p id="modal-headline">Leistung aktualisieren</p>
    <app-icon (click)="modal.isActive = false" id="cross" [iconName]="'cross'" [iconColor]="'var(--accent-500)'" [strokeWidth]="'2.3'" [iconWidth]="'20'" [iconHeight]="'20'"></app-icon>
  </div>

  <div class="flex flex-col gap-20 height-full width-full overflow-hidden padding-bottom-60 font-family-inter-medium">

    <div class="flex flex-col gap-10 margin-auto width-full" id="common-menu">
      <div class="headline-small">{{selectedExercise.title}}</div>

      <ng-container [ngSwitch]="subPage">

        <label class="count-label" *ngSwitchCase="1">
          <input class="input" type="number" name="anzahl" formControlName="quantity" placeholder="Anzahl"/>
        </label>

        <app-timeinput formControlName="result" *ngSwitchCase="2"></app-timeinput>

        <app-distanceinput formControlName="result" *ngSwitchCase="3"></app-distanceinput>

        <ng-container *ngSwitchCase="4">
          <div id="slider-wrapper">
            <div class="slider-element" [ngClass]="createCompletesForm.value.result === '3' ? 'active' : 'disabled'" (click)="createCompletesForm.value.result = '3'">
                <span>Gold</span>
            </div>
            <div class="slider-element" [ngClass]="createCompletesForm.value.result === '2' ? 'active' : 'disabled'" (click)="createCompletesForm.value.result = '2'">
                <span>Silber</span>
            </div>
            <div class="slider-element" [ngClass]="createCompletesForm.value.result === '1' ? 'active' : 'disabled'" (click)="createCompletesForm.value.result = '1'">
                <span>Bronze</span>
            </div>
            <div class="slider-element" [ngClass]="createCompletesForm.value.result === '0' ? 'active' : 'disabled'" (click)="createCompletesForm.value.result = '0'">
                <span>Keine Medaille</span>
            </div>
          </div>
        </ng-container>

        <div class="flex flex-col gap-15 margin-top-30">

          <p class="text-accent-500 font-family-inter-medium font-size-13">Medaillewerte:</p>

          <div class="flex items-center gap-20">
            <div class="medal gold"></div>
            <span class="text-accent-500 font-family-inter-medium font-size-13">Gold</span>
            <div class="margin-left-auto width-half text-accent-500 font-family-inter-medium font-size-13">{{ selectedExercise.rules[0].gold }}</div>
          </div>

          <div class="flex items-center gap-20">
            <div class="medal silver"></div>
            <span class="text-accent-500 font-family-inter-medium font-size-13">Silber</span>
            <div class="margin-left-auto width-half text-accent-500 font-family-inter-medium font-size-13">{{ selectedExercise.rules[0].silver }}</div>
          </div>

          <div class="flex items-center gap-20">
            <div class="medal bronze"></div>
            <span class="text-accent-500 font-family-inter-medium font-size-13">Bronze</span>
            <div class="margin-left-auto width-half text-accent-500 font-family-inter-medium font-size-13">{{ selectedExercise.rules[0].bronze }}</div>
          </div>
        </div>

      </ng-container>

    </div>

  </div>
  <div id="modal-footer">
    <app-secondary-button (click)="changePage($event, 0)" text="Schließen" minWidth="100%" description="Zurück zur Dashboardansicht."></app-secondary-button>
    <app-primary-button text="Erfassen" minWidth="100%" description="speichert die Leistung"></app-primary-button>
  </div>
</form>
