<div id="page-wrapper">
    <div id="login-wrapper">
        <p class="headline teleneo-bold">Login</p>
        <div id="input-wrapper">
            <label class="label">
                <p class="label-text">Benutzername</p>
                <input class="input" name="benutzername" placeholder="Benutzername"/>
            </label>
            <div id="password-reset-wrapper">
                <label class="label">
                    <p class="label-text">Passwort</p>
                    <input class="input" name="password" placeholder="Passwort"/>
                </label>
                <a href="#" id="password-reset">Passwort vergessen?</a>
            </div>
        </div>
        <button id="primary-button">
            <span>Login</span>
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5L19 12L12 19" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
        </button>
    </div>
</div>

<style>
    p, h1, h2, h3, h4, h5, h6{
        margin: 0;
    }
    *{
        box-sizing: border-box;
    }
    .icon{
        stroke: #FFFFFF;
        height: 15px;
        width: 15px; 
        stroke-width: 2.5;
    }
    #primary-button{
        padding: 10px 14px 10px 22px;
        width: fit-content;
        height: fit-content;
        border-radius: 5px;
        background-color: var(--brand-500);
        color: #FFFFFF;
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        border: 0;
        font-family: "TeleNeo Medium";
        font-size: 1.1rem;
        transition: all 200ms;
        cursor: pointer;
        outline: 1px solid transparent;
        outline-offset: 1px;
    }
    #primary-button:hover{
        /* background-color: var(--brand-400); */
        outline-color: var(--brand-500);
    }
    #primary-button:active{
        background-color: var(--brand-600);
    }
    #password-reset-wrapper{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    #password-reset{
        font-size: 14px;
        color: var(--accent-400);
        margin-left: auto;
        text-decoration: none;
    }
    #password-reset:hover{
        text-decoration: underline;
    }
    #input-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto 0;
    }
    .label{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .label-text{
        font-family: "TeleNeo Medium";
        font-size: 1rem;
    }
    .input{
        padding: 5px 20px;
        height: 50px;
        width: 100%;
        border: 1px solid var(--accent-300);
        color: var(--accent-500);
        transition: all 150ms;
        border-radius: 5px;
    }
    .input:focus, .input:hover{
        outline: 0;
        border: 1px solid var(--brand-500);
    }
    .teleneo-bold{
        font-family: "TeleNeo Bold";
    }
    .headline{
        font-size: 1.7rem;
    }
    #page-wrapper{
        height: 100dvh;
        width: 100dvw;
        display: grid;
        place-items: center;
        background-color: var(--accent-100);
    }
    #login-wrapper{
        display: flex;
        flex-direction: column;
        gap: 70px;
        padding: 30px;
        height: 520px;
        min-width: 480px;
        max-width: 100%;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 4px 15px #00000010;
    }
</style>