<div id="page-wrapper">
    <div id="login-wrapper">
        <p class="headline teleneo-bold">Login</p>
        <div id="input-wrapper">
            <label class="label">
                <p class="label-text">Benutzername</p>
                <input class="input" name="benutzername" placeholder="Benutzername"/>
            </label>
            <div id="password-reset-wrapper">
                <label class="label">
                    <p class="label-text">Passwort</p>
                    <input class="input" name="password" placeholder="Passwort"/>
                    <app-password-box class=""></app-password-box>
                </label>
                <a href="#" id="password-reset">Passwort vergessen?</a>
            </div>
        </div>
        <button id="primary-button">
            <span>Login</span>
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5L19 12L12 19" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </div>
</div>

<style>
</style>
