<div id="page-wrapper">
    <form id="login-wrapper" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p class="headline teleneo-bold">Login</p>
        <div id="input-wrapper">
            <label class="label">
                <p class="label-text">Benutzername</p>
                <input class="input" name="benutzername" placeholder="Benutzername" formControlName="username" />
            </label>
            <div id="password-reset-wrapper">
                <label class="label">
                    <p class="label-text">Passwort</p>
                    <input type="password" class="input" name="password" placeholder="Passwort"
                        formControlName="password" />
                </label>
                <a href="#" id="password-reset">Passwort vergessen?</a>
            </div>
        </div>
        <button type="submit" id="primary-button" [disabled]="!loginForm.valid">
            <span>Login</span>
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 5L19 12L12 19" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </form>
</div>