#modal{
    z-index: 110;
    height: minmax(170px, fit-content);
    width: 31.25rem;
    padding: 1.25rem;
    background-color: var(--accent-0);
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    border-radius: 0.3125rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 98%;
}

#modal-body{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
}

#modal-content{
    width: calc(100% - 3.125rem);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

#modal-footer{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.625rem;
}

#overlay{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 100ms;
    background-color: #00000030;
    z-index: 100;
}

#title{
    font-family: 'Inter Semibold';
    font-size: 1.05rem;
    line-clamp: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

#description{
    font-family: 'Inter Medium';
    font-size: 0.9375rem;
    color: var(--accent-400);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.25rem;
    height: 2.5rem;
}

#close-button{
    cursor: pointer;
    width: fit-content;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
