<div id="sidebar">
    <div id="header">
        <div>
            <p class="headline">Meine Athleten</p>
            <p class="description">Tippe auf einen Sportler um dessen Daten zu laden</p>
        </div>
        <div id="action-wrapper">
            <div id="search-bar">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.16667 16.3333C12.8486 16.3333 15.8333 13.3486 15.8333 9.66667C15.8333 5.98477 12.8486 3 9.16667 3C5.48477 3 2.5 5.98477 2.5 9.66667C2.5 13.3486 5.48477 16.3333 9.16667 16.3333Z"
                        stroke="#ADB6BF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M17.5 18L13.875 14.375" stroke="#ADB6BF" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <input id="search-input" placeholder="Suchen" type="text" />
            </div>
            <div id="button">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 13.125V11.875C10 11.212 9.73661 10.5761 9.26777 10.1072C8.79893 9.63839 8.16304 9.375 7.5 9.375H3.125C2.46196 9.375 1.82607 9.63839 1.35723 10.1072C0.888392 10.5761 0.625 11.212 0.625 11.875V13.125"
                        stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M5.3125 6.875C6.69321 6.875 7.8125 5.75571 7.8125 4.375C7.8125 2.99429 6.69321 1.875 5.3125 1.875C3.93179 1.875 2.8125 2.99429 2.8125 4.375C2.8125 5.75571 3.93179 6.875 5.3125 6.875Z"
                        stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12.5 5V8.75" stroke="white" stroke-width="1.2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M14.375 6.875H10.625" stroke="white" stroke-width="1.2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
    <div id="sidebar-content" class="empty" *ngIf="athletes.length === 0; else hasAthletes">
        <img src="assets/img/humans-statistics-sitting-woman.png" alt="create-athlete" />
        <p id="information-text-big">Erstelle deinen ersten Athlet</p>
        <p id="information-text-small">
            Füge jetzt einen neuen Athlet hinzu und starte die Erfassung von Übungen
        </p>
        <button id="primary-button">
            <span>Erstellen</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_480_1833)">
                    <path
                        d="M10.5 13.625V12.375C10.5 11.712 10.2366 11.0761 9.76777 10.6072C9.29893 10.1384 8.66304 9.875 8 9.875H3.625C2.96196 9.875 2.32607 10.1384 1.85723 10.6072C1.38839 11.0761 1.125 11.712 1.125 12.375V13.625"
                        stroke="#F1F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M5.8125 7.375C7.19321 7.375 8.3125 6.25571 8.3125 4.875C8.3125 3.49429 7.19321 2.375 5.8125 2.375C4.43179 2.375 3.3125 3.49429 3.3125 4.875C3.3125 6.25571 4.43179 7.375 5.8125 7.375Z"
                        stroke="#F1F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13 5.5V9.25" stroke="#F1F2F2" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M14.875 7.375H11.125" stroke="#F1F2F2" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
                <defs>
                    <clipPath id="clip0_480_1833">
                        <rect width="15" height="15" fill="white" transform="translate(0.5 0.5)" />
                    </clipPath>
                </defs>
            </svg>
        </button>
    </div>
    <ng-template #hasAthletes>
        <div id="sidebar-content" class="filled">
            <div *ngFor="let athlete of athletes">
                <a [routerLink]="['/athleten', athlete.id]">
                    <app-athlete-card [athlete]="athlete"></app-athlete-card>
                </a>
            </div>
        </div>
    </ng-template>
</div>