.quaternary-button {
    padding: 12px 12px 12px 12px;
    width: 39px;
    height: 39px;
    border-radius: 5px;
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    border: 0;
    font-family: "TeleNeo Medium";
    font-size: 1.1rem;
    transition: all 300ms;
    cursor: pointer;
    outline: 1px solid transparent;
    outline-offset: 1px;
    position: relative;
  
    &:hover {
        &::after {
            content: attr(data-tooltip);
            position: absolute;
            border-radius: 5px;
            top: 0;
            left: 50%;
            transform: translate(-50%, -130%);
            font-family: "Inter Medium";
            font-size: 15px;
            padding: 8px;
            height: fit-content;
            min-width: max-content;
            background-color: var(--accent-900);
            color: var(--accent-0);
            display: block;
        }

        &::before {
            content: '';
            display: block;
            width: 13px;
            height: 13px;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, -140%) rotate(45deg);
            background-color: var(--accent-900);
        }
    }
  }
  