<div id="discipline-menu">
  <div id="discipline-menu-header">
    <p>Neue Leistung erfassen</p>
    <div id="close-icon">
      <!-- TODO: include close(x)-icon here -->
    </div>
  </div>
  <div id="choose-discipline">
    <p>Disziplin auswählen</p>
  </div>
  <div id="category-wrapper">
    <div id="Schnelligkeit" class="category">
      <div class="category-title-wrapper">
          <p>Schnelligkeit</p>
      </div>
      <div class="discipline-wrapper">
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>30 Meter Lauf</p>
          </div>
          <div class="last-date">
            <p></p>
          </div>
          <div class="medal">
            <div id="gold" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>50 Meter Lauf</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="silver" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>100 Meter Lauf</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="bronze" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>25 Meter Schwimmen</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="gold" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>200 Meter Radfahren</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal"></div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Gerätturnen</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal"></div>
        </div>
      </div>

    </div>
    <hr>
    <div id="Ausdauer" class="category">
      <div class="category-title-wrapper">
          <p>Ausdauer</p>
      </div>
      <div class="discipline-wrapper">
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>3000 Meter Lauf</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="silver" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>10 Kilometer Lauf</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="bronze" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>7,5 Kilometer Walking</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="bronze" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Schwimmen</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="gold" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>20 Kilometer Radfahren</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal"></div>
        </div>
      </div>
    </div>
    <hr>
    <div id="Kraft" class="category">
      <div class="category-title-wrapper">
          <p>Kraft</p>
      </div>
      <div class="discipline-wrapper">
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Medizinball</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="bronze" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Kugelstoßen</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="gold" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Steinstoßen</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="silver" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Standweitsprung</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="gold" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Gerätturnen</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="bronze" class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div id="Koordination" class="category">
      <div class="category-title-wrapper">
          <p>Koordination</p>
      </div>
      <div class="discipline-wrapper">
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Hochsprung</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="bronze" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Weitsprung</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="gold" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Schleuderball</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="silver" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Seilspringen</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="gold" class="circle"></div>
          </div>
        </div>
        <div class="discipline">
          <div class="discipline-title-wrapper">
            <p>Gerätturnen</p>
          </div>
          <div class="last-date">
            <p>zuletzt: 12.02.2022</p>
          </div>
          <div class="medal">
            <div id="bronze" class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="button-wrapper">
    <app-secondary-button [text]="'Schließen'" [minWidth]="'195px'"></app-secondary-button>
    <app-primary-button [text]="'Weiter'" [minWidth]="'195px'"></app-primary-button>
  </div>
</div>
