.multiple-input{
  padding: 5px 20px;
  height: 50px;
  width: 20%;
  border: 1px solid var(--accent-300);
  color: var(--accent-500);
  transition: all 150ms;
  border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus, .input:hover, .multiple-input:focus, .multiple-input:hover, .time-input:focus, .time-input:hover{
  outline: 0;
  border: 1px solid var(--brand-500);
}

:host.ng-invalid{
  input {
    border-color: red;
  }
}
