.tertiary-button {
    padding: 12px 30px;
    min-width: 80px;
    max-width: max-content;
    height: 39px;
    border-radius: 5px;
    background-color: var(--accent-0);
    color: var(--accent-900);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-family: "Inter Medium", "Inter-Medium";
    font-size: .95rem;
    transition: all 200ms;
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }
  }