.tertiary-button {
    padding: 12px 30px;
    width: 105px;
    height: 39px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: var(--accent-900);
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    border: 0;
    font-family: "TeleNeo Medium";
    font-size: 1.1rem;
    transition: all 200ms;
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }
  }