<div id="athlete-card" [ngClass]="{'isActive': isActive, 'isInactive': !isActive}">
    <app-user-card [user]="athlete" [progress]="getProgress(athlete.completes)" [medal]="getColorVariable(athlete.completes)"></app-user-card>
    <div id="achievement-wrapper">
        <div *ngIf="athlete.certificates.length !== 0" class="border-right-grey medal-wrapper">
            <div id="blue" class="circle"></div>
        </div>
        <div class="border-right-grey medal-wrapper">
            <span class="medal-text">{{customFilterCall(athlete.completes, {points: {filterValue: 3, valueFullFit: true} }, false).length}}</span>
            <div id="gold" class="circle"></div>
        </div>
        <div class="border-right-grey medal-wrapper">
            <span class="medal-text">{{customFilterCall(athlete.completes, {points: {filterValue: 2, valueFullFit: true} }, false).length}}</span>
            <div id="silver" class="circle"></div>
        </div>
        <div class="medal-wrapper" id="padding-right-zero">
            <span class="medal-text">{{customFilterCall(athlete.completes, {points: {filterValue: 1, valueFullFit: true} }, false).length}}</span>
            <div id="bronze" class="circle"></div>
        </div>
    </div>
</div>
