#padding-right-zero{
    padding-right: 0;
}
#blue{
    background-color: var(--brand-300);
}
#achievement-wrapper{
    display: flex;
    align-items: center;
    margin-top: auto;
    transform: translateY(0.125rem);
}
#gold{
    background-color: var(--gold);
}
#silver{
    background-color: var(--silver);
}
#bronze{
    background-color: var(--bronze);
}
.border-right-grey{
    border-right: 0.0625rem solid var(--accent-200);
}
.medal-wrapper{
    height: 1.25rem;
    display: flex;
    gap: 0.3125rem;
    align-items: center;
    padding: 0.1875rem 0.5rem;
}
.medal-text{
    font-size: 0.875rem;
    color: var(--accent-400);
    font-family: "TeleNeo Medium"
}
.circle{
    border-radius: 6.25rem;
    height: 0.75rem;
    width: 0.75rem;
}
#athlete-card.isInactive{
    padding: 1.125rem;
    height: 4.75rem;
    width: 25.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--accent-0);
    box-shadow: 0 0 1.875rem var(--accent-200);
    border-radius: 0.3125rem;
    border: 0.0625rem solid transparent;
    transition: border-color 300ms;
    @media (max-width: 1000px) {
        width: 2.5rem;  
        padding: 0px;
    }
}
#athlete-card.isInactive:hover{
    cursor: pointer;
    border-color: var(--brand-400);
}
#athlete-card.isActive{
    padding: 1.125rem;
    height: 4.75rem;
    width: 25.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--brand-100);
    box-shadow: 0 0 2.5rem var(--accent-200);
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--brand-400);
    transition: border-color 300ms;
    cursor: pointer;
    @media (max-width: 1000px) {
        width: 2.5rem;  
        padding: 0px;
    }
}
#athlete-card.isActive::after{
    content: '';
    position: absolute;
    display: block;
    width: 0.3125rem;
    height: 2.875rem;
    right: 0;
    top: 50%;
    background-color: var(--brand-500);
    border-radius: 6.25rem;
    transform: translateY(-50%);
    @media (max-width: 1000px) {
        display: none;
        
    }
}

@media (max-width: 1000px) {
    #athlete-card {
        max-width: 2.5rem;
        max-height: 2.5rem;
    }
    #athlete-card #achievement-wrapper {
        display: none;
    }
}