<input #kilometers class="multiple-input" type="number" placeholder="km" (change)="change(kilometers.valueAsNumber, meters.valueAsNumber, centimeters.valueAsNumber)" style="display: inline-block"/>
,
<input #meters class="multiple-input" type="number" placeholder="m" (change)="change(kilometers.valueAsNumber, meters.valueAsNumber, centimeters.valueAsNumber)" style="display: inline-block;"/>
,
<input #centimeters class="multiple-input" type="number" placeholder="cm" (change)="change(kilometers.valueAsNumber, meters.valueAsNumber, centimeters.valueAsNumber)" style="display: inline-block;"/>