<div id="page">
    <app-help-sidebar (headlineClicked)="scrollToHeadline($event)" (subHeadlineClicked)="scrollToSubHeadline($event)"
        [selectedHeadline]="currentHeadline" [selectedSubHeadline]="currentSubHeadline">
    </app-help-sidebar>
    <div id="content" #content>
        <div>
            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div id="headline-wrapper">
                <p class="headline">Architektur</p>
                <app-primary-button (click)="downloadPDF()" [iconName]="'download'"
                    [text]="'Präsentation herunterladen'"></app-primary-button>
            </div>
            <div id="general-information-wrapper">
                <p class="sub-headline">Verwendete Technologien</p>
                <ul>
                    <li>Backend</li>
                    <ul>
                        <li>Python</li>
                        <li>FastAPI</li>
                        <li>SQLite mit SQLAlchemy</li>
                    </ul>
                    <li>Frontend</li>
                    <ul>
                        <li>Angular</li>
                        <li>Node JS</li>
                    </ul>
                    <li>Docker</li>
                </ul>
                <div class="logo-container">
                    <img src="assets/presentation-images/smtrans.png" alt="Squad Mandalore Logo"
                        class="squad-mandalore">
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="breakline"></div>
                <p class="sub-headline">Aufbau der Anwendung</p>
                <div class="image-wrapper">
                    <img src="assets/presentation-images/aufbau.png" alt="Aufbau der Webapplikation">
                </div>
                <div style="margin-top: 10rem"></div>
                <div class="logo-container">
                    <img src="assets/presentation-images/smtrans.png" alt="Squad Mandalore Logo"
                        class="squad-mandalore">
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="breakline"></div>
                <p class="sub-headline">Git Verzweigung</p>
                <div class="image-wrapper">
                    <img src="assets/presentation-images/gitzweige.png" alt="Gitzweige">
                </div>
                <div class="logo-container-left">
                    <img src="assets/presentation-images/smtrans.png" alt="Squad Mandalore Logo"
                        class="squad-mandalore">
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="breakline"></div>
                <p class="sub-headline">Git Verzweigung Graph</p>
                <div class="image-wrapper">
                    <img src="assets/presentation-images/gitzweigegreph.png" alt="Gitzweige">
                </div>
                <div class="logo-container">
                    <img src="assets/presentation-images/smtrans.png" alt="Squad Mandalore Logo"
                        class="squad-mandalore">
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="breakline"></div>
                <p class="sub-headline">Serverlose Wenigerheit</p>
                <div class="image-wrapper">
                    <img src="assets/presentation-images/not_the_servers.png"
                        alt="These are not the Servers you are looking for">
                </div>
                <div class="image-wrapper">
                    <img src="assets/presentation-images/theway.png" alt="This is the way">
                </div>
                <div class="logo-container">
                    <img src="assets/presentation-images/smtrans.png" alt="Squad Mandalore Logo"
                        class="squad-mandalore">
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="breakline"></div>
                <p class="sub-headline">Entitätenbeziehungsmodell</p>
                <div class="image-wrapper">
                    <img src="assets/presentation-images/er.png" alt="Entitätenbeziehungsmodell">
                </div>
                <div class="logo-container">
                    <img src="assets/presentation-images/smtrans.png" alt="Squad Mandalore Logo"
                        class="squad-mandalore">
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="breakline"></div>
                <p class="sub-headline">Entitätenbeziehungsmodell Tabelle</p>
                <div class="image-wrapper">
                    <img src="assets/presentation-images/ertabelle.png" alt="Entitätenbeziehungsmodell Tabelle">
                </div>
            </div>
        </div>
        <div>
            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div id="headline-wrapper">
                <p class="headline">Das hintere Ende</p>
            </div>
            <div id="general-information-wrapper">
                <p class="sub-headline">Offene Anwendungsprogrammierschnittstellen Spezifikation</p>
                <p style="text-align: center;">
                    ⭐️ Interaktiv ⭐️
                    <br>
                    <a href="http://localhost:8000/docs" target="_blank">http://localhost:8000/docs</a>
                    <br>
                    <a href="http://localhost:8000/openapi.json" target="_blank">http://localhost:8000/openapi.json</a>
                </p>
                <div style="margin: 5rem"></div>
                <div class="logo-container">
                    <img src="assets/presentation-images/smtrans.png" alt="Squad Mandalore Logo"
                        class="squad-mandalore">
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="breakline"></div>
                <p class="sub-headline">Einsatzpläne / Strategien</p>
                <div class="image-wrapper">
                    <img src="assets/presentation-images/combistuff.png" alt="FastAPI">
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="breakline"></div>
                <p class="sub-headline">Docker Komponierung</p>
                <div class="image-wrapper">
                    <img src="assets/presentation-images/docker.png" style="width:80%" alt="FastAPI">
                </div>
                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="breakline"></div>
                <p class="sub-headline">Tests und Programmtextqualität</p>
                <ul>
                    <li>Einheitstests mittels pytest</li>
                    <div class="logo-container">
                        <img src="assets/presentation-images/pytest.png" alt="pytest Logo" class="squad-mandalore">
                    </div>
                    <li>Programmabdeckung von 70%</li>
                </ul>
                <div class="image-wrapper">
                    <img src="assets/presentation-images/testgif.gif" alt="Pytest" loop>
                </div>
                <div class="logo-container">
                    <img src="assets/presentation-images/smtrans.png" alt="Squad Mandalore Logo"
                        class="squad-mandalore">
                </div>
            </div>
        </div>
        <div>
            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div id="headline-wrapper">
                <p class="headline">Das vordere Ende</p>
            </div>
            <div id="general-information-wrapper">
                <p class="sub-headline"><a href="https://www.figma.com/design/jEETxMmBzQkCGvRDBABZH3/Mockup-Sportabzeichen?node-id=0-1&t=FwZmueXBNZCf6bzY-1">Link zu Figma</a></p>
                <p style="text-align: center;">
                    Marvin der Meister des Designs, so klar,<br>
                    Schuf eine Webseite, strahlend und wunderbar.<br>
                    Mit Farben und Formen, so klug komponiert,<br>
                    Hat er unser Projekt elegant verziert.<br>
                </p>
                <p style="text-align: center;">
                    Jeder Pixel, jede Linie, mit Bedacht gemacht,<br>
                    Ein Kunstwerk erschaffen, das Freude entfacht.<br>
                    Sein Talent, es glänzt, wirkt beinahe banal,<br>
                    Neben seiner Schöpfung scheint alles andere trivial.<br>
                </p>
                <div class="logo-container">
                    <img src="assets/presentation-images/smtrans.png" alt="Squad Mandalore Logo"
                        class="squad-mandalore">
                </div>
            </div>
        </div>
        <div>
            <div>
                <!------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div id="headline-wrapper">
                    <p class="headline">Quellen</p>
                </div>
                <div id="general-information-wrapper">
                    <p class="sub-headline">Genutzte Ressourcen von</p>
                    <ul>
                        <li><a href="https://www.docker.com/" target="_blank">https://www.docker.com/</a></li>
                        <li><a href="https://fastapi.tiangolo.com/" target="_blank">https://fastapi.tiangolo.com/</a>
                        </li>
                        <li><a href="https://www.python.org/" target="_blank">https://www.python.org/</a></li>
                        <li><a href="https://www.sqlite.org/index.html"
                                target="_blank">https://www.sqlite.org/index.html</a></li>
                        <li><a href="https://www.sqlalchemy.org/" target="_blank">https://www.sqlalchemy.org/</a></li>
                        <li><a href="https://angular.io/" target="_blank">https://angular.io/</a></li>
                        <li><a href="https://nodejs.org/en/" target="_blank">https://nodejs.org/en/</a></li>
                        <li><a href="https://www.docker.com/" target="_blank">https://www.docker.com/</a></li>
                        <li><a href="https://www.pytest.org/" target="_blank">https://www.pytest.org/</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Distracted_boyfriend"
                                target="_blank">https://en.wikipedia.org/wiki/Distracted_boyfriend</a></li>
                        <li><a href="https://de.wikipedia.org/wiki/The_Mandalorian"
                                target="_blank">https://de.wikipedia.org/wiki/The_Mandalorian</a></li>
                        <li><a href="https://www.starwars.com/databank/jedi-mind-trick"
                                target="_blank">https://www.starwars.com/databank/jedi-mind-trick</a></li>
                    </ul>
                    <p>Erstellt von:</p>
                    <ul>
                        <li>Ben Zellerör</li>
                        <li>Lucas Buchholz</li>
                        <li>Lucas Knesel</li>
                        <li>Marvin Hofmann</li>
                        <li>Markus Siegert</li>
                        <li>Mike Busam</li>
                        <li>Moritz Bosch</li>
                        <li>Ole Grundmann</li>
                        <li>Ronny Vater</li>
                    </ul>
                    <p>This is the way<br>Squad Mandalore out ~
                    </p>
                    <div class="logo-container">
                        <img src="assets/presentation-images/smtrans.png" alt="Squad Mandalore Logo"
                            class="squad-mandalore">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-navbar-bottom></app-navbar-bottom>