#page {
    height: calc(100vh - 4.375rem);
    display: flex;
    gap: 0.625rem;
}

#content {
    position: relative;
    font-family: "Inter Medium", "Inter-Medium";
    width: 100%;
    height: 100%;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow: auto;
}

#general-information-wrapper {
    width: 100%;
    background-color: var(--accent-0);
    padding: 1.25rem;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1.25rem;
}

.breakline {
    width: 100%;
    height: 0.0625rem;
    align-self: center;
    background-color: var(--accent-200);
    margin: 0.0625rem 0;
}

.item.isActive>svg {
    stroke: var(--brand-500);
}

svg {
    stroke: var(--accent-900);
    margin: 0 0.625rem;
}

.inline-block {
    display: inline-block;
}

.item:not(.isActive)>svg {
    stroke: var(--accent-900);
}

#headline-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.25rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0.0625rem solid var(--accent-800);
}

td, th {
    text-align: center;
    border: 0.0625rem solid var(--accent-800);
    padding: 0.625rem;
}

.headline {
    font-size: 1.5rem;
    color: var(--accent-800);
    letter-spacing: -.0.3125rem;
    font-family: "Inter Medium", "Inter-Medium";
}

.sub-headline {
    font-size: 1.25rem;
    color: var(--accent-800);
    letter-spacing: -.0.3125rem;
    font-family: "Inter Medium", "Inter-Medium";
}


p {
    line-height: 1.6;
}