<div class="card" *ngIf="user; else filledState">
    <div id="progress">
        <div class="grid-item" id="icon">
            <p>{{ user.firstname[0].toUpperCase()}}{{ user.lastname[0].toUpperCase() }}</p>
        </div>
        <svg *ngIf="progress" id="progress-bar" class="grid-item" width="40" height="40" viewBox="0 0 50 50" fill="none" stroke-width="3" xmlns="http://www.w3.org/2000/svg">
            <path
              style="transform: scale(.96) translate(1px, 1px)"
              [style.stroke]="medal"
              [style.stroke-dasharray]="circumference"
              [style.stroke-dashoffset]="dashOffset()"
              fill="none"
              d="M25 1A24 24 0 0 1 49 25 24 24 0 0 1 25 49 24 24 0 0 1 1 25 24 24 0 0 1 25 1"
              stroke-linejoin="round"
            />
        </svg>
    </div>
    <div *ngIf="!showIconOnly" id="text-wrapper">
        <p id="name">{{ user.firstname }}&nbsp;{{ user.lastname }}</p>
        <p id="role">{{ user.type === 'athlete' ? 'Sportler' : user.type === 'trainer' ? 'Trainer' : 'Administrator' }}</p>
    </div>
</div>
<ng-template #filledState>
    <div class="card">
        <div id="progress">
            <div class="grid-item" id="icon">
                <p class="skeleton"></p>
            </div>
        </div>
        <div *ngIf="!showIconOnly" id="text-wrapper">
            <p class="width-95 height-12 skeleton border-radius-full"></p>
            <p class="width-95 height-10 skeleton border-radius-full"></p>
        </div>
    </div>
</ng-template>

<style>
    .skeleton {
        background-color: var(--accent-150);
    }

    .width-95{
        width: 95px;
    }
    
    .width-200{
        width: 200px;
    }

    .border-radius-full{
        border-radius: 100px;
    }

    .height-12{
        height: 12px;
    }

    .height-10{
        height: 10px;
    }

    @keyframes progress-bar {
        from {stroke-dashoffset: 150;}
        to {stroke-dashoffset: attr(dashoffset);}
    }
    #progress-bar *{
        animation: progress-bar 1s;
    }
    #progress-bar{
        transform: scale(1.4) rotate(180deg); 
        padding: 1px;
    }
    #progress{
        display: grid;
        place-items: center;
        height: 40px;
        width: 40px;
    }
    .grid-item{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #text-wrapper{
        display: flex;
        flex-direction: column;
        gap: 4px;
        max-width: 180px;
    }
    #name{
        font-size: 16px;
        font-family: "Inter Medium";
        font-weight: 500;
        letter-spacing: -0.3px;
        width: 100%;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }
    #role{
        font-size: 13px;
        font-family: "Inter Medium";
        font-weight: 500;
        color: var(--accent-300);
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }
    .card{
        display: flex;
        gap: 20px;
        width: fit-content;
        align-items: center;
        height: 40px;
        min-width: 200px;
    }
    #icon{
        background-color: var(--accent-150);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        font-family: "Inter Medium";
        font-weight: 500;
        font-size: 16px;
    }
</style>
