<div id="overlay" (click)="modals.createExerciseModal.isActive = false"></div>
<form id="modal" [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
    <div id="modal-header">
        <p id="modal-headline">Neue Übung hinzufügen</p>
        <app-icon (click)="modals.createExerciseModal.isActive = false" id="cross" [iconName]="'cross'" [iconColor]="'var(--accent-500)'" [strokeWidth]="'2.3'" [iconWidth]="'20'" [iconHeight]="'20'"></app-icon>
     </div>
    <div id="input-wrapper" class="height-80-percent">
        <div *ngIf="page == 1" class="flex flex-col gap-20 height-full">
            <label class="label">
                <p class="label-text">hinzufügen zu:</p>
                <div id="slider-wrapper-horizontal">
                    <div class="slider-element" [ngClass]="useExistingExercise === false ? 'active' : 'disabled'" (click)="useExistingExercise = false">
                        <span>neuer Disziplin</span>
                    </div>
                    <div class="slider-element" [ngClass]="useExistingExercise === true ? 'active' : 'disabled'" (click)="useExistingExercise = true">
                        <span>bestehender Disziplin</span>
                    </div>
                </div>
            </label>
            <div *ngIf="useExistingExercise == false" class="flex flex-col gap-20">
                <label class="label">
                    <p class="label-text">Titel</p>
                    <input class="input width-full" type="text" formControlName="title" placeholder="100 Meter Sprint">
                </label>
                <div class="label">
                    <p class="label-text">Kategorie</p>
                    <div id="slider-wrapper-horizontal">
                        <div class="slider-element" *ngFor="let category of categories; index as i;" [ngClass]="exerciseForm.value.category === category.title ? 'active' : 'disabled'" (click)="exerciseForm.value.category = category.title">
                            <span>{{ category.title }}</span>
                        </div>
                    </div>
                </div>
                <div class="label">
                    <p class="label-text">Eingabemaske</p>
                    <div id="slider-wrapper-horizontal">
                        <div class="slider-element" *ngFor="let mask of masks; index as i;" [ngClass]="exerciseForm.value.mask === mask ? 'active' : 'disabled'" (click)="exerciseForm.value.mask = mask">
                            <span>{{ mask }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col height-full width-full overflow-auto gap-20" *ngIf="useExistingExercise == true">
                <div class="flex items-center gap-10 category-wrapper" *ngFor="let category of categories; index as i;">
                    <div class="discipline-name" data-minheight="150px">
                        <div>{{category.title}}</div>
                    </div>
                    <div class="flex flex-col width-full" *ngIf="category.exercises.length !== 0; else filledState">
                        <div (click)="selectedExercise = exercise" [ngClass]="{'active': selectedExercise?.title === exercise.title}" class="discipline-item flex items-center space-between" *ngFor="let exercise of category.exercises; index as j;">
                            <div [title]="exercise.title">{{exercise.title}}</div>
                        </div>
                    </div>
                    <ng-template #filledState>
                        <div class="flex flex-col width-full">
                            <p class="discipline-item-empty-state">Keine Disziplinen verfügbar</p>
                            <p class="discipline-item-empty-state">Bitte füge zuerst eine in dieser Kategorie hinzu</p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div *ngIf="page == 2" class="flex flex-col gap-20">
            <div id="age-wrapper">
                <p class="label-text">Alter</p>
                <div id="age-input-wrapper">
                    <label class="label">
                        <p class="label-text">von</p>
                        <input class="input width-full" type="number" min="1" max="999" formControlName="fromAge" placeholder="1">
                    </label>
                    <label class="label">
                        <p class="label-text">bis</p>
                        <input class="input width-full" type="number" min="fromAge" max="999" formControlName="toAge" placeholder="99">
                    </label>
                </div>
            </div>
            <label class="label">
                <p class="label-text">Jahr</p>
                <input class="input width-full" type="text" formControlName="year" placeholder="2024">
            </label>
            <div class="label">
                <p class="label-text">Geschlecht</p>
                <div id="slider-wrapper-horizontal">
                    <div class="slider-element" [ngClass]="exerciseForm.value.gender === 'm' ? 'active' : 'disabled'" (click)="exerciseForm.value.gender = 'm'">
                        <span>männlich</span>
                    </div>
                    <div class="slider-element" [ngClass]="exerciseForm.value.gender === 'f' ? 'active' : 'disabled'" (click)="exerciseForm.value.gender = 'f'">
                        <span>weiblich</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="page == 3" class="flex flex-col gap-20">
            <div class="flex flex-col gap-10 margin-auto width-full" id="common-menu" *ngIf="subPage === 1">
                <label class="count-label">
                    <input class="input width-full" type="number" name="anzahl" formControlName="goldQuantity" placeholder="Anzahl"/>
                </label>
                <label class="count-label">
                    <input class="input width-full" type="number" name="anzahl" formControlName="silverQuantity" placeholder="Anzahl"/>
                </label>
                <label class="count-label">
                    <input class="input width-full" type="number" name="anzahl" formControlName="bronzeQuantity" placeholder="Anzahl"/>
                </label>
            </div>
            <div class="flex flex-col gap-10 margin-auto width-full" *ngIf="subPage === 2">
                <p class="label-text">Gold</p>
                <div>
                    <input class="input width-20-percent" type="number" formControlName="goldHours" placeholder="hh" style="display: inline-block"/>
                    :
                    <input class="input width-20-percent" type="number" formControlName="goldMinutes" placeholder="mm" style="display: inline-block;"/>
                    :
                    <input class="input width-20-percent" type="number" formControlName="goldSeconds" placeholder="ss" style="display: inline-block;"/>
                    :
                    <input class="input width-20-percent" type="number" formControlName="goldMilliseconds" placeholder="ms" style="display: inline-block;"/>
                </div>
                <hr/>
                <p class="label-text">Silber</p>
                <div>
                    <input class="input width-20-percent" type="number" formControlName="silverHours" placeholder="hh" style="display: inline-block"/>
                    :
                    <input class="input width-20-percent" type="number" formControlName="silverMinutes" placeholder="mm" style="display: inline-block;"/>
                    :
                    <input class="input width-20-percent" type="number" formControlName="silverSeconds" placeholder="ss" style="display: inline-block;"/>
                    :
                    <input class="input width-20-percent" type="number" formControlName="silverMilliseconds" placeholder="ms" style="display: inline-block;"/>
                </div>
                <hr/>
                <p class="label-text">Bronze</p>
                <div>
                    <input class="input width-20-percent" type="number" formControlName="bronzeHours" placeholder="hh" style="display: inline-block"/>
                    :
                    <input class="input width-20-percent" type="number" formControlName="bronzeMinutes" placeholder="mm" style="display: inline-block;"/>
                    :
                    <input class="input width-20-percent" type="number" formControlName="bronzeSeconds" placeholder="ss" style="display: inline-block;"/>
                    :
                    <input class="input width-20-percent" type="number" formControlName="bronzeMilliseconds" placeholder="ms" style="display: inline-block;"/>
                </div>
            </div>
            <div class="flex flex-col gap-10 margin-auto width-full" id="common-menu" *ngIf="subPage === 3">
                <div class="headline-small">{{selectedExercise.title}}</div>
                <div>
                    <input class="input width-20-percent" type="number" name="completes-distance-kilometers" formControlName="goldKilometers" placeholder="km" style="display: inline-block"/>
                    ,
                    <input class="input width-20-percent" type="number" name="completes-distance-meters" formControlName="goldMeters" placeholder="m" style="display: inline-block;"/>
                    ,
                    <input class="input width-20-percent" type="number" name="completes-distance-centimeters" formControlName="goldCentimeters" placeholder="cm" style="display: inline-block;"/>
                </div>
                <div>
                    <input class="input width-20-percent" type="number" name="completes-distance-kilometers" formControlName="silverKilometers" placeholder="km" style="display: inline-block"/>
                    ,
                    <input class="input width-20-percent" type="number" name="completes-distance-meters" formControlName="silverMeters" placeholder="m" style="display: inline-block;"/>
                    ,
                    <input class="input width-20-percent" type="number" name="completes-distance-centimeters" formControlName="silverCentimeters" placeholder="cm" style="display: inline-block;"/>
                </div>
                <div>
                    <input class="input width-20-percent" type="number" name="completes-distance-kilometers" formControlName="bronzeKilometers" placeholder="km" style="display: inline-block"/>
                    ,
                    <input class="input width-20-percent" type="number" name="completes-distance-meters" formControlName="bronzeMeters" placeholder="m" style="display: inline-block;"/>
                    ,
                    <input class="input width-20-percent" type="number" name="completes-distance-centimeters" formControlName="bronzeCentimeters" placeholder="cm" style="display: inline-block;"/>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-footer">
        <app-secondary-button *ngIf="page === 1" (click)="modals.createExerciseModal.isActive = false" type="button" [text]="'Abbrechen'" [minWidth]="'100%'" [description]="'Mit Klick auf diese Schaltfläche wird die Aktion abgebrochen.'"></app-secondary-button>
        <app-primary-button *ngIf="page === 1" (click)="changePage($event, 2)" [text]="'Weiter'" [minWidth]="'100%'" [description]="'Mit Klick auf diese Schaltfläche wird die Aktion ausgeführt.'"></app-primary-button>
        <app-secondary-button *ngIf="page === 2" (click)="changePage($event, 1)" type="button" [text]="'Zurück'" [minWidth]="'100%'" [description]="'Mit Klick auf diese Schaltfläche wird die Aktion abgebrochen.'"></app-secondary-button>
        <app-primary-button *ngIf="page === 2 && exerciseForm.value.mask !== 'Medaille'" (click)="changePage($event, 3)" [text]="'Weiter'" [minWidth]="'100%'" [description]="'Mit Klick auf diese Schaltfläche wird die Aktion ausgeführt.'"></app-primary-button>
        <app-secondary-button *ngIf="page === 3" (click)="changePage($event, 2)" type="button" [text]="'Zurück'" [minWidth]="'100%'" [description]="'Mit Klick auf diese Schaltfläche wird die Aktion abgebrochen.'"></app-secondary-button>
        <app-primary-button *ngIf="page === 3 || page === 2 && exerciseForm.value.mask === 'Medaille'" [text]="'Übung anlegen'" [minWidth]="'100%'" type="submit" [description]="'Mit Klick auf diese Schaltfläche wird die Aktion ausgeführt.'"></app-primary-button>
    </div>
</form>



