:host {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    height: 100dvb;
    width: 100dvi;
    place-items: center;
    background-color: var(--accent-100);
}

#overlay{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000040;
}

form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.875rem;
    min-width: 30.0rem;
    width: min-content;
    min-height: 32.8125rem;
    height: min-content;
    background-color: var(--accent-0);
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.9375rem #00000010;
}

#input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

label {
    display: flex;
    flex-direction: column;
    font-family: "Inter Medium";
    font-size: .9rem;

    &>span:first-child{
        display: inline-block;
        margin-bottom: 0.625rem;
    }
}

input {
    padding: 0.3125rem 1.25rem;
    height: 3.125rem;
    border: 0.0625rem solid var(--accent-300);
    color: var(--accent-500);
    transition: all 150ms;
    border-radius: 0.3125rem;
}

.headline {
    font-family: "Inter Medium";
    font-size: 1.2rem;
}

input:focus,
input:hover {
    outline: 0;
    border: 0.0625rem solid var(--brand-500);
}

.margin-left-auto{
    margin-left: auto;
}

.error-text{
    color: var(--danger);
    font-family: "Inter Medium";
    font-size: 0.75rem;
    height: 0.9375rem;
}

.ng-invalid {
    border-color: red;
}
