<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <p>Passwort ändern</p>
    <div id="input-wrapper">
        <label>
            <span>Neues Passwort</span>
            <app-password-box formControlName="password" (focusout)="validateValues()" (input)="resetValidation('passwordDifference')"></app-password-box>
        </label>
        <label>
            <span>Neues Passwort bestätigen</span>
            <app-password-box 
                [showPasswordGenerator] = "false"
                [showCopyOption] = "false"
                [showPasswordStrength] = "false"
                [placeholderText] = "'Passwort wiederholen'"
                formControlName = "passwordRepeat" 
                (focusout) = "validateValues()" 
                (input) = "resetValidation('passwordDifference')">
            </app-password-box>
            <div class="error-text">
                <span *ngIf="formValidation.passwordDifference">Passwörter nicht identsich</span>
            </div>
        </label>
    </div>
    <app-primary-button class="margin-left-auto" [iconName]="'arrow-right'" [text]="'Passwort ändern'" [disabled]="!passwordForm.valid"></app-primary-button>
</form>
<div id="overlay"></div>