<div id="modal">
    <div id="modal-header">
        <p id="modal-headline">Neuen Trainer hinzufügen</p>
        <span id="cross">&times;</span>
    </div>
    <div id="input-wrapper">
        <label class="label">
            <p class="label-text">Benutzername</p>
            <input class="input" type="text" name="benutzername" placeholder="Benutzername"/>
        </label>
        <div id="password-password-strength-wrapper">
            <label class="label">
                <p class="label-text">Password</p>
                <input class="input" type="password" name="password" placeholder="Passwort"/>
            </label>
            <div id="progress-wrapper">
                <div id="progress-bar" [style.width]="'50%'" [style.backgroundColor]="progressBarColor"></div>
            </div>
            <p id="password-strength-text">Passwortstärke: {{passwordStrength}}</p>
        </div>
        <div id="name-input-wrapper">
            <label class="label">
                <p class="label-text">Vorname</p>
                <input class="input" type="text" name="forename" placeholder="Vorname"/>
            </label>
            <label class="label">
                <p class="label-text">Nachname</p>
                <input class="input" type="text" name="lastname" placeholder="Nachname"/>
            </label>
        </div>
        <label class="label">
            <p class="label-text">E-Mail</p>
            <input class="input" type="email" name="email" placeholder="E-Mail"/>
        </label>
    </div>
    <div id="modal-footer">
        <button class="secondary-button" title="Mit Klick auf diese Schaltfläche wird die Aktion abgebrochen.">
            <span>Abbrechen</span>
        </button>
        <button class="primary-button" title="Mit Klick auf diese Schaltfläche wird die Aktion abgebrochen.">
            <span>Trainer hinzufügen</span>
        </button>
    </div>
</div>
