<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>Login</p>
    <div id="input-wrapper">
        <label>
            <span>Benutzername</span>
            <input name="benutzername" placeholder="Benutzername" formControlName="username" />
        </label>
        <label>
            <span>Passwort</span>
            <input type="password" name="password" placeholder="Passwort" formControlName="password" />
            <!-- <a href="#" id="password-reset">Passwort vergessen?</a> -->
        </label>
    </div>
    <app-primary-button [iconName]="'arrow-right'" [text]="'Login'" [disabled]="!loginForm.valid"></app-primary-button>
</form>
<app-alert (closed)="closeAlert()" [isActive]="isError" [alertTitle]="alertTitle" [alertDescription]="alertDescription" [alertType]="'error'"></app-alert>
