.primary-button {
  padding: 12px 30px;
  max-width: max-content;
  height: 39px;
  border-radius: 5px;
  background-color: var(--brand-500);
  color: var(--accent-0);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-family: "Inter Medium";
  font-size: .95rem;
  transition: all 200ms;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 1px;

  &.with-icon {
    padding: 12px 14px 12px 22px;
    gap: 8px;
  }
  
  &:hover {
    // outline-color: var(--brand-500);
    background-color: var(--brand-400);
  }

  &:active {
    background-color: var(--brand-600);
  }
}
