<input 
    #input 
    [type]="inputType" 
    [disabled]="disabled" 
    [value]="value" 
    (input)="onInput(input.value)" 
    (focusout)="validateValues()" 
    (input)="resetValidation()" 
    (blur)="onTouched()" 
    class="input" 
    [placeholder]="placeholderText" 
/>
<div id="options-wrapper">
    <app-icon 
        class="box" 
        (click)="triggerInputType()" 
        [iconName]="inputType === 'password' ? 'eye-open' : 'eye-closed'"
        [iconColor]="'var(--accent-500)'" 
        [iconHeight]="'18'" 
        [iconWidth]="'18'" 
        [strokeWidth]="'1.8'">
    </app-icon>
    <app-icon 
        *ngIf="showCopyOption" 
        class="box" 
        (click)="onTriggerCopy()" 
        [iconName]="'copy'" 
        [iconColor]="'var(--accent-500)'" 
        [iconHeight]="'18'" 
        [iconWidth]="'18'"
        [strokeWidth]="'1.8'">
    </app-icon>
</div>
<div id="password-strength-bar" *ngIf="showPasswordStrength">
    <div [style.width]="strengthBarWidth" [style.backgroundColor]="strengthBarColor" id="password-strength-fill"></div>
</div>
<div id="password-text-wrapper">
  <div *ngIf="showPasswordGenerator" id="password-generate-text" (click)="OnClickGenerate()">Neues Passwort generieren</div>
  <div *ngIf="showPasswordStrength">Passwortstärke: {{strengthTextContent}}</div>
</div>
<div class="error-text">
    <p *ngIf="(!isAllowedToFail || value) && formValidation.illegalPassword">Benötigt mindestens 12 Zeichen</p>
</div>
