:host{
  position: relative;
}

.input {
  padding: 0.3125rem 1.25rem;
  height: 3.125rem;
  width: 100%;
  border: 0.0625rem solid var(--accent-300);
  color: var(--accent-500);
  transition: all 150ms;
  border-radius: 0.3125rem;
}

.input:focus,
.input:hover {
  outline: 0;
  border: 0.0625rem solid var(--brand-500);
}

#password-strength-bar {
  height: 0.3125rem;
  margin: 0.5625rem 0 0.4375rem 0;
  background-color: var(--accent-150);
  border-radius: 0.3125rem;
  overflow: hidden;
}

#password-strength-fill {
  height: 100%;
  width: 20%;
  border-radius: 0.3125rem;
  transition: width 0.3s ease;
  background-color: #ff6347;
}

#password-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter Medium";
  font-size: 0.75rem;
  color: var(--accent-500);
}

#password-generate-text {
  text-decoration: underline;
  cursor: pointer;
}

#options-wrapper{
  display: flex;
  align-items: center;
  gap: 0.625rem;
  position: absolute;
  top: 0.6875rem;
  right: 0.625rem;
}

.box{
  padding: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1875rem;
  transition: background-color 200ms;
  cursor: pointer;

  &:hover{
    background-color: var(--accent-150);
  }
}

.error-text{
  color: var(--danger);
  font-family: "Inter Medium";
  font-size: 0.75rem;
  height: 0.9375rem;
  margin-top: 0.5625rem;
}

:host.ng-invalid{
  .input {
    border-color: red;
  }
}
