:host{
  position: relative;
}

.input {
  padding: 5px 20px;
  height: 50px;
  width: 100%;
  border: 1px solid var(--accent-300);
  color: var(--accent-500);
  transition: all 150ms;
  border-radius: 5px;
}

.input:focus,
.input:hover {
  outline: 0;
  border: 1px solid var(--brand-500);
}

#password-strength-bar {
  height: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--accent-150);
  border-radius: 5px;
  overflow: hidden;
}

#password-strength-fill {
  height: 100%;
  width: 20%;
  border-radius: 5px;
  transition: width 0.3s ease;
  background-color: #ff6347;
}

#password-strength-text {
  font-family: "Inter Medium";
  font-size: 10px;
  color: var(--accent-500);
  text-align: end;
  width: 100%;
}

#options-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 11px;
  right: 10px;
}

.box{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: background-color 200ms;
  cursor: pointer;

  &:hover{
    background-color: var(--accent-150);
  }
}
