<input #input [type]="inputType" [disabled]="disabled" [value]="value" (input)="onInput(input.value)"
    (blur)="onTouched()" class="input" placeholder="Passwort" />
<div id="options-wrapper">
    <app-icon class="box" (click)="triggerInputType()" [iconName]="inputType === 'password' ? 'eye-open' : 'eye-closed'"
        [iconColor]="'var(--accent-500)'" [iconHeight]="'18'" [iconWidth]="'18'" [strokeWidth]="'1.8'"></app-icon>
    <app-icon class="box" [iconName]="'copy'" [iconColor]="'var(--accent-500)'" [iconHeight]="'18'" [iconWidth]="'18'"
        [strokeWidth]="'1.8'"></app-icon>
</div>
<div id="password-strength-bar">
    <div [style.width]="strengthBarWidth" [style.backgroundColor]="strengthBarColor" id="password-strength-fill">
    </div>
</div>
<div id="password-strength-text">Passwortstärke: {{strengthTextContent}}</div>