/* You can add global styles to this file, and also import other style files */

:root{
  --brand-900: #000D1A;
  --brand-800: #002A53;
  --brand-700: #00478C;
  --brand-600: #0064C5;
  --brand-500: #0082FF;
  --brand-400: #399EFF;
  --brand-300: #72BAFF;
  --brand-200: #ABD6FF;
  --brand-100: #E5F3FF;

  --accent-900: #0B0D0E;
  --accent-800: #23282D;
  --accent-700: #3B434C;
  --accent-600: #535E6B;
  --accent-500: #697A89;
  --accent-400: #8B98A4;
  --accent-300: #ADB6BF;
  --accent-200: #CFD4DA;
  --accent-100: #F1F2F4;
}
