/* You can add global styles to this file, and also import other style files */

:root{
  --brand-100: #000D1A;
  --brand-200: #002A53;
  --brand-300: #00478C;
  --brand-400: #0064C5;
  --brand-500: #0082FF;
  --brand-600: #399EFF;
  --brand-700: #72BAFF;
  --brand-800: #ABD6FF;
  --brand-900: #E5F3FF;

  --accent-100: #0B0D0E;
  --accent-200: #23282D;
  --accent-300: #3B434C;
  --accent-400: #535E6B;
  --accent-500: #697A89;
  --accent-600: #8B98A4;
  --accent-700: #ADB6BF;
  --accent-800: #CFD4DA;
  --accent-900: #F1F2F4;
}
