
#page{
    height: calc(100dvh - 70px);
    width: 100dvw;
    max-width: 1920px;
    display: flex;
    gap: 10px;
}

#details{
    position: relative;
    font-family: "Inter Medium";
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#modal{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 370px;
    width: 350px;
    background-color: var(--accent-0);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: 4px 4px 20px #00000005;
}

#general-information-wrapper{
    width: 100%;
    background-color: var(--accent-0);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#headline-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.meta-text{
    font-size: 14px;
    font-family: "Inter Medium";
    color: var(--accent-500)
}

.margin-left-auto{
    margin-left: auto;
}

.chip{
    max-width: max-content;
    height: 39px;
    border-radius: 5px;
    background-color: var(--accent-100);
    color: var(--accent-900);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter Medium";
    font-size: .95rem;
    padding: 12px 14px 12px 22px;
    gap: 8px;
}

.secondary-button{
    border-radius: 5px;
    background-color: var(--accent-100);
}

.text-small{
    font-size: 13px;
    color: var(--accent-300);
    text-align: center;
}

#container-wrapper{
    display: flex;
    gap: 20px;
    height: 85%;
    max-width: 100%;
}

#container-wrapper-vertical{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#header-container{
    height: 60px;
}

#results-container{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}

#results-header{
    display: flex;
    gap: 20px;
}

#results-container .empty-state{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 400px;
    aspect-ratio: 1/1;
    margin: auto;
}

#table-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

#table-wrapper::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

#table-wrapper::-webkit-scrollbar-thumb {
    background: var(--accent-200);
    border-radius: 20px;
}

#table-head{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 80px 110px 1fr 1fr;
    gap: 10px;
    grid-template-rows: 1fr;
    padding-left: 20px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: var(--accent-0);
}

#table-head > span{
    font-size: 15px;
    color: var(--accent-400);
}

.table-item{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--accent-200);
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: 1fr 1fr 80px 110px 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 15px 0 15px 20px;
    font-size: 14px;
    cursor: pointer;
    color: var(--accent-500);
    background-color: var(--accent-50);
    transition: background-color 200ms;
}

.table-item:hover{
    background-color: var(--accent-150);
}

.table-item > span:first-child{
    color: var(--accent-900);
}

#progress-container, #swimcert-container{
    height: 50%;
    aspect-ratio: 1/1;
}

#progress-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#progress-bar{
    display: grid;
    place-items: center;
    margin: auto;
}

.upper, .lower, #current-points-wrapper{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#current-points-wrapper{
    display: grid;
    place-items: center;
    transform: translateY(20px);
    font-size: 32px;
    color: var(--accent-300);
}

#all-points-wrapper{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 20px;
    color: var(--accent-400);
    transform: translateY(-5px);
}

#progress-footer{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 30px;
    justify-content: center;
}

.medal-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

.medal-text{
    font-size: 20px;
    color: var(--accent-500)
}

.gold{
    background-color: var(--gold);
}

.silver{
    background-color: var(--silver);
}

.bronze{
    background-color: var(--bronze);
}

.medal{
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

#swimcert-container{
    padding: 20px;
    border-radius: 5px;
}

#swimcert-inset-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 1px dashed var(--accent-300);
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.text-align-center{
    text-align: center;
}

.cursor-pointer{
    cursor: pointer;
}

.label-text{
    text-decoration: underline;
    font-size: 14px;
    color: var(--accent-900);
}

.hide-element{
    visibility: hidden;
}

#text-wrapper{
    display: grid;
    place-items: center;
    gap: 20px;
}

.border-1px-grey{
    border: 1px solid var(--accent-200);
    border-radius: 5px;
}

.paly{
    color: var(--accent-200);
}

.headline{
    font-size: 24px;
    color: var(--accent-900);
    letter-spacing: -.5px;
    font-family: "Inter Medium";
}

.headline-small{
    font-size: 20px;
    color: var(--accent-900);
    letter-spacing: -.5px;
    font-family: "Inter Medium";
}

.large-text{
    font-size: 20px;
}

.small-text{
    width: 180px;
    font-size: 13px;
    color: var(--accent-300);
    text-align: center;
}

.background-color-white{
    background-color: var(--accent-0);
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}