<div id="page">
    <app-sidebar-component [athletes]="athletes"></app-sidebar-component>
    <div id="details">
        <p class="headline">Sportler-Übersicht</p>
        <div class="border-1px-grey width-full" id="first"></div>
        <div id="container-wrapper">
            <div class="border-1px-grey width-full" id="second">
                <div id="modal">
                    <img src="assets/img/statistics-image.png" alt="statistics" />
                    <div id="text-wrapper">
                        <p class="large-text">Wähle einen Athlet aus</p>
                        <p class="small-text">Tippe auf einen Athleten in der Navigation links</p>
                    </div>
                </div>
            </div>
            <div id="container-wrapper-vertical">
                <div class="border-1px-grey" id="third"></div>
                <div class="border-1px-grey" id="fourth"></div>
            </div>
        </div>
    </div>
</div>
<app-navbar-bottom-component></app-navbar-bottom-component>